<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.Pr01Mapper">
  <resultMap id="BaseResultMap" type="com.model.Pr01">
    <id column="PRNO" jdbcType="VARCHAR" property="prno" />
    <id column="REVISION" jdbcType="CHAR" property="revision" />
    <result column="ISSUE" jdbcType="VARCHAR" property="issue" />
    <result column="PRDATE" jdbcType="TIMESTAMP" property="prdate" />
    <result column="ECOMDATE" jdbcType="TIMESTAMP" property="ecomdate" />
    <result column="ACOMDATE" jdbcType="TIMESTAMP" property="acomdate" />
    <result column="APPROVED" jdbcType="VARCHAR" property="approved" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="FROMDEP" jdbcType="VARCHAR" property="fromdep" />
    <result column="TODEP" jdbcType="VARCHAR" property="todep" />
    <result column="PROJTYPE" jdbcType="CHAR" property="projtype" />
    <result column="APPROVEDDATE" jdbcType="TIMESTAMP" property="approveddate" />
    <result column="FROMGROUP" jdbcType="CHAR" property="fromgroup" />
    <result column="TOGROUP" jdbcType="CHAR" property="togroup" />
    <result column="PRSNO" jdbcType="CHAR" property="prsno" />
    <result column="MSGLEVEL" jdbcType="CHAR" property="msglevel" />
    <result column="HKPR" jdbcType="CHAR" property="hkpr" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.model.Pr01">
    <result column="REMARK" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    PRNO, REVISION, ISSUE, PRDATE, ECOMDATE, ACOMDATE, APPROVED, STATUS, FROMDEP, TODEP, 
    PROJTYPE, APPROVEDDATE, FROMGROUP, TOGROUP, PRSNO, MSGLEVEL, HKPR
  </sql>
  <sql id="Blob_Column_List">
    REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.model.Pr01Key" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from PR01
    where PRNO = #{prno,jdbcType=VARCHAR}
      and REVISION = #{revision,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.model.Pr01Key">
    delete from PR01
    where PRNO = #{prno,jdbcType=VARCHAR}
      and REVISION = #{revision,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.model.Pr01">
    insert into PR01 (PRNO, REVISION, ISSUE, 
      PRDATE, ECOMDATE, ACOMDATE, 
      APPROVED, STATUS, FROMDEP, 
      TODEP, PROJTYPE, APPROVEDDATE, 
      FROMGROUP, TOGROUP, PRSNO, MSGLEVEL, 
      HKPR, REMARK)
    values (#{prno,jdbcType=VARCHAR}, #{revision,jdbcType=CHAR}, #{issue,jdbcType=VARCHAR}, 
      #{prdate,jdbcType=TIMESTAMP}, #{ecomdate,jdbcType=TIMESTAMP}, #{acomdate,jdbcType=TIMESTAMP}, 
      #{approved,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{fromdep,jdbcType=VARCHAR}, 
      #{todep,jdbcType=VARCHAR}, #{projtype,jdbcType=CHAR}, #{approveddate,jdbcType=TIMESTAMP}, 
      #{fromgroup,jdbcType=CHAR}, #{togroup,jdbcType=CHAR}, #{prsno,jdbcType=CHAR}, #{msglevel,jdbcType=CHAR}, 
      #{hkpr,jdbcType=CHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.Pr01">
    insert into PR01
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prno != null">
        PRNO,
      </if>
      <if test="revision != null">
        REVISION,
      </if>
      <if test="issue != null">
        ISSUE,
      </if>
      <if test="prdate != null">
        PRDATE,
      </if>
      <if test="ecomdate != null">
        ECOMDATE,
      </if>
      <if test="acomdate != null">
        ACOMDATE,
      </if>
      <if test="approved != null">
        APPROVED,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="fromdep != null">
        FROMDEP,
      </if>
      <if test="todep != null">
        TODEP,
      </if>
      <if test="projtype != null">
        PROJTYPE,
      </if>
      <if test="approveddate != null">
        APPROVEDDATE,
      </if>
      <if test="fromgroup != null">
        FROMGROUP,
      </if>
      <if test="togroup != null">
        TOGROUP,
      </if>
      <if test="prsno != null">
        PRSNO,
      </if>
      <if test="msglevel != null">
        MSGLEVEL,
      </if>
      <if test="hkpr != null">
        HKPR,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prno != null">
        #{prno,jdbcType=VARCHAR},
      </if>
      <if test="revision != null">
        #{revision,jdbcType=CHAR},
      </if>
      <if test="issue != null">
        #{issue,jdbcType=VARCHAR},
      </if>
      <if test="prdate != null">
        #{prdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ecomdate != null">
        #{ecomdate,jdbcType=TIMESTAMP},
      </if>
      <if test="acomdate != null">
        #{acomdate,jdbcType=TIMESTAMP},
      </if>
      <if test="approved != null">
        #{approved,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="fromdep != null">
        #{fromdep,jdbcType=VARCHAR},
      </if>
      <if test="todep != null">
        #{todep,jdbcType=VARCHAR},
      </if>
      <if test="projtype != null">
        #{projtype,jdbcType=CHAR},
      </if>
      <if test="approveddate != null">
        #{approveddate,jdbcType=TIMESTAMP},
      </if>
      <if test="fromgroup != null">
        #{fromgroup,jdbcType=CHAR},
      </if>
      <if test="togroup != null">
        #{togroup,jdbcType=CHAR},
      </if>
      <if test="prsno != null">
        #{prsno,jdbcType=CHAR},
      </if>
      <if test="msglevel != null">
        #{msglevel,jdbcType=CHAR},
      </if>
      <if test="hkpr != null">
        #{hkpr,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.Pr01">
    update PR01
    <set>
      <if test="issue != null">
        ISSUE = #{issue,jdbcType=VARCHAR},
      </if>
      <if test="prdate != null">
        PRDATE = #{prdate,jdbcType=TIMESTAMP},
      </if>
      <if test="ecomdate != null">
        ECOMDATE = #{ecomdate,jdbcType=TIMESTAMP},
      </if>
      <if test="acomdate != null">
        ACOMDATE = #{acomdate,jdbcType=TIMESTAMP},
      </if>
      <if test="approved != null">
        APPROVED = #{approved,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="fromdep != null">
        FROMDEP = #{fromdep,jdbcType=VARCHAR},
      </if>
      <if test="todep != null">
        TODEP = #{todep,jdbcType=VARCHAR},
      </if>
      <if test="projtype != null">
        PROJTYPE = #{projtype,jdbcType=CHAR},
      </if>
      <if test="approveddate != null">
        APPROVEDDATE = #{approveddate,jdbcType=TIMESTAMP},
      </if>
      <if test="fromgroup != null">
        FROMGROUP = #{fromgroup,jdbcType=CHAR},
      </if>
      <if test="togroup != null">
        TOGROUP = #{togroup,jdbcType=CHAR},
      </if>
      <if test="prsno != null">
        PRSNO = #{prsno,jdbcType=CHAR},
      </if>
      <if test="msglevel != null">
        MSGLEVEL = #{msglevel,jdbcType=CHAR},
      </if>
      <if test="hkpr != null">
        HKPR = #{hkpr,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where PRNO = #{prno,jdbcType=VARCHAR}
      and REVISION = #{revision,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.model.Pr01">
    update PR01
    set ISSUE = #{issue,jdbcType=VARCHAR},
      PRDATE = #{prdate,jdbcType=TIMESTAMP},
      ECOMDATE = #{ecomdate,jdbcType=TIMESTAMP},
      ACOMDATE = #{acomdate,jdbcType=TIMESTAMP},
      APPROVED = #{approved,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      FROMDEP = #{fromdep,jdbcType=VARCHAR},
      TODEP = #{todep,jdbcType=VARCHAR},
      PROJTYPE = #{projtype,jdbcType=CHAR},
      APPROVEDDATE = #{approveddate,jdbcType=TIMESTAMP},
      FROMGROUP = #{fromgroup,jdbcType=CHAR},
      TOGROUP = #{togroup,jdbcType=CHAR},
      PRSNO = #{prsno,jdbcType=CHAR},
      MSGLEVEL = #{msglevel,jdbcType=CHAR},
      HKPR = #{hkpr,jdbcType=CHAR},
      REMARK = #{remark,jdbcType=LONGVARCHAR}
    where PRNO = #{prno,jdbcType=VARCHAR}
      and REVISION = #{revision,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.Pr01">
    update PR01
    set ISSUE = #{issue,jdbcType=VARCHAR},
      PRDATE = #{prdate,jdbcType=TIMESTAMP},
      ECOMDATE = #{ecomdate,jdbcType=TIMESTAMP},
      ACOMDATE = #{acomdate,jdbcType=TIMESTAMP},
      APPROVED = #{approved,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      FROMDEP = #{fromdep,jdbcType=VARCHAR},
      TODEP = #{todep,jdbcType=VARCHAR},
      PROJTYPE = #{projtype,jdbcType=CHAR},
      APPROVEDDATE = #{approveddate,jdbcType=TIMESTAMP},
      FROMGROUP = #{fromgroup,jdbcType=CHAR},
      TOGROUP = #{togroup,jdbcType=CHAR},
      PRSNO = #{prsno,jdbcType=CHAR},
      MSGLEVEL = #{msglevel,jdbcType=CHAR},
      HKPR = #{hkpr,jdbcType=CHAR}
    where PRNO = #{prno,jdbcType=VARCHAR}
      and REVISION = #{revision,jdbcType=CHAR}
  </update>
</mapper>