<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UnitMapper">
  <resultMap id="BaseResultMap" type="com.model.Unit">
    <id column="UNIT" jdbcType="CHAR" property="unit" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from UNIT
    where UNIT = #{unit,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.model.Unit">
    insert into UNIT (UNIT)
    values (#{unit,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.Unit">
    insert into UNIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="unit != null">
        UNIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="unit != null">
        #{unit,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="findAllUnit" resultType="java.lang.String">
    select unit from UNIT
  </select>
</mapper>