<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserProfileMapper">
  <resultMap id="BaseResultMap" type="com.model.UserProfile">
    <id column="UID" jdbcType="CHAR" property="uid" />
    <result column="PWD" jdbcType="CHAR" property="pwd" />
    <result column="GID" jdbcType="CHAR" property="gid" />
    <result column="NAME" jdbcType="CHAR" property="name" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CREATEDATE" jdbcType="TIMESTAMP" property="createdate" />
    <result column="ISEXPIRE" jdbcType="CHAR" property="isexpire" />
    <result column="DEPCODE" jdbcType="CHAR" property="depcode" />
    <result column="ISADMIN" jdbcType="CHAR" property="isadmin" />
    <result column="ISDEPADMIN" jdbcType="CHAR" property="isdepadmin" />
    <result column="GROUPCODE" jdbcType="CHAR" property="groupcode" />
    <result column="MSG_UID01" jdbcType="CHAR" property="msgUid01" />
    <result column="MSG_UID02" jdbcType="CHAR" property="msgUid02" />
    <result column="MSG_UID03" jdbcType="CHAR" property="msgUid03" />
    <result column="MSG_UID04" jdbcType="CHAR" property="msgUid04" />
    <result column="MSG_UID05" jdbcType="CHAR" property="msgUid05" />
    <result column="MSG_UID06" jdbcType="CHAR" property="msgUid06" />
    <result column="MSG_UID07" jdbcType="CHAR" property="msgUid07" />
    <result column="MSG_GRP01" jdbcType="CHAR" property="msgGrp01" />
    <result column="MSG_GRP02" jdbcType="CHAR" property="msgGrp02" />
    <result column="MSG_GRP03" jdbcType="CHAR" property="msgGrp03" />
    <result column="MSG_GRP04" jdbcType="CHAR" property="msgGrp04" />
    <result column="MSG_GRP05" jdbcType="CHAR" property="msgGrp05" />
    <result column="MSG_GRP06" jdbcType="CHAR" property="msgGrp06" />
    <result column="MSG_GRP07" jdbcType="CHAR" property="msgGrp07" />
    <result column="MSG_OTH01" jdbcType="CHAR" property="msgOth01" />
    <result column="MSG_OTH02" jdbcType="CHAR" property="msgOth02" />
    <result column="MSG_OTH03" jdbcType="CHAR" property="msgOth03" />
    <result column="MSG_OTH04" jdbcType="CHAR" property="msgOth04" />
    <result column="MSG_OTH05" jdbcType="CHAR" property="msgOth05" />
    <result column="MSG_OTH06" jdbcType="CHAR" property="msgOth06" />
    <result column="MSG_OTH07" jdbcType="CHAR" property="msgOth07" />
    <result column="MONEY" jdbcType="DECIMAL" property="money" />
    <result column="VIEWPRICE" jdbcType="CHAR" property="viewprice" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.model.UserProfileWithBLOBs">
    <result column="INI" jdbcType="LONGVARCHAR" property="ini" />
    <result column="ALERT" jdbcType="LONGVARCHAR" property="alert" />
  </resultMap>
  <sql id="Base_Column_List">
    UID, PWD, GID, NAME, STATUS, CREATEDATE, ISEXPIRE, DEPCODE, ISADMIN, ISDEPADMIN, 
    GROUPCODE, MSG_UID01, MSG_UID02, MSG_UID03, MSG_UID04, MSG_UID05, MSG_UID06, MSG_UID07, 
    MSG_GRP01, MSG_GRP02, MSG_GRP03, MSG_GRP04, MSG_GRP05, MSG_GRP06, MSG_GRP07, MSG_OTH01, 
    MSG_OTH02, MSG_OTH03, MSG_OTH04, MSG_OTH05, MSG_OTH06, MSG_OTH07, MONEY, VIEWPRICE
  </sql>
  <sql id="Blob_Column_List">
    INI, ALERT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from userprofile
    where UID = #{uid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from userprofile
    where UID = #{uid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.model.UserProfileWithBLOBs">
    insert into userprofile (UID, PWD, GID, NAME, 
      STATUS, CREATEDATE, ISEXPIRE, 
      DEPCODE, ISADMIN, ISDEPADMIN, 
      GROUPCODE, MSG_UID01, MSG_UID02, 
      MSG_UID03, MSG_UID04, MSG_UID05, 
      MSG_UID06, MSG_UID07, MSG_GRP01, 
      MSG_GRP02, MSG_GRP03, MSG_GRP04, 
      MSG_GRP05, MSG_GRP06, MSG_GRP07, 
      MSG_OTH01, MSG_OTH02, MSG_OTH03, 
      MSG_OTH04, MSG_OTH05, MSG_OTH06, 
      MSG_OTH07, MONEY, VIEWPRICE, 
      INI, ALERT)
    values (#{uid,jdbcType=CHAR}, #{pwd,jdbcType=CHAR}, #{gid,jdbcType=CHAR}, #{name,jdbcType=CHAR}, 
      #{status,jdbcType=CHAR}, #{createdate,jdbcType=TIMESTAMP}, #{isexpire,jdbcType=CHAR}, 
      #{depcode,jdbcType=CHAR}, #{isadmin,jdbcType=CHAR}, #{isdepadmin,jdbcType=CHAR}, 
      #{groupcode,jdbcType=CHAR}, #{msgUid01,jdbcType=CHAR}, #{msgUid02,jdbcType=CHAR}, 
      #{msgUid03,jdbcType=CHAR}, #{msgUid04,jdbcType=CHAR}, #{msgUid05,jdbcType=CHAR}, 
      #{msgUid06,jdbcType=CHAR}, #{msgUid07,jdbcType=CHAR}, #{msgGrp01,jdbcType=CHAR}, 
      #{msgGrp02,jdbcType=CHAR}, #{msgGrp03,jdbcType=CHAR}, #{msgGrp04,jdbcType=CHAR}, 
      #{msgGrp05,jdbcType=CHAR}, #{msgGrp06,jdbcType=CHAR}, #{msgGrp07,jdbcType=CHAR}, 
      #{msgOth01,jdbcType=CHAR}, #{msgOth02,jdbcType=CHAR}, #{msgOth03,jdbcType=CHAR}, 
      #{msgOth04,jdbcType=CHAR}, #{msgOth05,jdbcType=CHAR}, #{msgOth06,jdbcType=CHAR}, 
      #{msgOth07,jdbcType=CHAR}, #{money,jdbcType=DECIMAL}, #{viewprice,jdbcType=CHAR}, 
      #{ini,jdbcType=LONGVARCHAR}, #{alert,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.UserProfileWithBLOBs">
    insert into userprofile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        UID,
      </if>
      <if test="pwd != null">
        PWD,
      </if>
      <if test="gid != null">
        GID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="isexpire != null">
        ISEXPIRE,
      </if>
      <if test="depcode != null">
        DEPCODE,
      </if>
      <if test="isadmin != null">
        ISADMIN,
      </if>
      <if test="isdepadmin != null">
        ISDEPADMIN,
      </if>
      <if test="groupcode != null">
        GROUPCODE,
      </if>
      <if test="msgUid01 != null">
        MSG_UID01,
      </if>
      <if test="msgUid02 != null">
        MSG_UID02,
      </if>
      <if test="msgUid03 != null">
        MSG_UID03,
      </if>
      <if test="msgUid04 != null">
        MSG_UID04,
      </if>
      <if test="msgUid05 != null">
        MSG_UID05,
      </if>
      <if test="msgUid06 != null">
        MSG_UID06,
      </if>
      <if test="msgUid07 != null">
        MSG_UID07,
      </if>
      <if test="msgGrp01 != null">
        MSG_GRP01,
      </if>
      <if test="msgGrp02 != null">
        MSG_GRP02,
      </if>
      <if test="msgGrp03 != null">
        MSG_GRP03,
      </if>
      <if test="msgGrp04 != null">
        MSG_GRP04,
      </if>
      <if test="msgGrp05 != null">
        MSG_GRP05,
      </if>
      <if test="msgGrp06 != null">
        MSG_GRP06,
      </if>
      <if test="msgGrp07 != null">
        MSG_GRP07,
      </if>
      <if test="msgOth01 != null">
        MSG_OTH01,
      </if>
      <if test="msgOth02 != null">
        MSG_OTH02,
      </if>
      <if test="msgOth03 != null">
        MSG_OTH03,
      </if>
      <if test="msgOth04 != null">
        MSG_OTH04,
      </if>
      <if test="msgOth05 != null">
        MSG_OTH05,
      </if>
      <if test="msgOth06 != null">
        MSG_OTH06,
      </if>
      <if test="msgOth07 != null">
        MSG_OTH07,
      </if>
      <if test="money != null">
        MONEY,
      </if>
      <if test="viewprice != null">
        VIEWPRICE,
      </if>
      <if test="ini != null">
        INI,
      </if>
      <if test="alert != null">
        ALERT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=CHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=CHAR},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isexpire != null">
        #{isexpire,jdbcType=CHAR},
      </if>
      <if test="depcode != null">
        #{depcode,jdbcType=CHAR},
      </if>
      <if test="isadmin != null">
        #{isadmin,jdbcType=CHAR},
      </if>
      <if test="isdepadmin != null">
        #{isdepadmin,jdbcType=CHAR},
      </if>
      <if test="groupcode != null">
        #{groupcode,jdbcType=CHAR},
      </if>
      <if test="msgUid01 != null">
        #{msgUid01,jdbcType=CHAR},
      </if>
      <if test="msgUid02 != null">
        #{msgUid02,jdbcType=CHAR},
      </if>
      <if test="msgUid03 != null">
        #{msgUid03,jdbcType=CHAR},
      </if>
      <if test="msgUid04 != null">
        #{msgUid04,jdbcType=CHAR},
      </if>
      <if test="msgUid05 != null">
        #{msgUid05,jdbcType=CHAR},
      </if>
      <if test="msgUid06 != null">
        #{msgUid06,jdbcType=CHAR},
      </if>
      <if test="msgUid07 != null">
        #{msgUid07,jdbcType=CHAR},
      </if>
      <if test="msgGrp01 != null">
        #{msgGrp01,jdbcType=CHAR},
      </if>
      <if test="msgGrp02 != null">
        #{msgGrp02,jdbcType=CHAR},
      </if>
      <if test="msgGrp03 != null">
        #{msgGrp03,jdbcType=CHAR},
      </if>
      <if test="msgGrp04 != null">
        #{msgGrp04,jdbcType=CHAR},
      </if>
      <if test="msgGrp05 != null">
        #{msgGrp05,jdbcType=CHAR},
      </if>
      <if test="msgGrp06 != null">
        #{msgGrp06,jdbcType=CHAR},
      </if>
      <if test="msgGrp07 != null">
        #{msgGrp07,jdbcType=CHAR},
      </if>
      <if test="msgOth01 != null">
        #{msgOth01,jdbcType=CHAR},
      </if>
      <if test="msgOth02 != null">
        #{msgOth02,jdbcType=CHAR},
      </if>
      <if test="msgOth03 != null">
        #{msgOth03,jdbcType=CHAR},
      </if>
      <if test="msgOth04 != null">
        #{msgOth04,jdbcType=CHAR},
      </if>
      <if test="msgOth05 != null">
        #{msgOth05,jdbcType=CHAR},
      </if>
      <if test="msgOth06 != null">
        #{msgOth06,jdbcType=CHAR},
      </if>
      <if test="msgOth07 != null">
        #{msgOth07,jdbcType=CHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="viewprice != null">
        #{viewprice,jdbcType=CHAR},
      </if>
      <if test="ini != null">
        #{ini,jdbcType=LONGVARCHAR},
      </if>
      <if test="alert != null">
        #{alert,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.UserProfileWithBLOBs">
    update userprofile
    <set>
      <if test="pwd != null">
        PWD = #{pwd,jdbcType=CHAR},
      </if>
      <if test="gid != null">
        GID = #{gid,jdbcType=CHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createdate != null">
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isexpire != null">
        ISEXPIRE = #{isexpire,jdbcType=CHAR},
      </if>
      <if test="depcode != null">
        DEPCODE = #{depcode,jdbcType=CHAR},
      </if>
      <if test="isadmin != null">
        ISADMIN = #{isadmin,jdbcType=CHAR},
      </if>
      <if test="isdepadmin != null">
        ISDEPADMIN = #{isdepadmin,jdbcType=CHAR},
      </if>
      <if test="groupcode != null">
        GROUPCODE = #{groupcode,jdbcType=CHAR},
      </if>
      <if test="msgUid01 != null">
        MSG_UID01 = #{msgUid01,jdbcType=CHAR},
      </if>
      <if test="msgUid02 != null">
        MSG_UID02 = #{msgUid02,jdbcType=CHAR},
      </if>
      <if test="msgUid03 != null">
        MSG_UID03 = #{msgUid03,jdbcType=CHAR},
      </if>
      <if test="msgUid04 != null">
        MSG_UID04 = #{msgUid04,jdbcType=CHAR},
      </if>
      <if test="msgUid05 != null">
        MSG_UID05 = #{msgUid05,jdbcType=CHAR},
      </if>
      <if test="msgUid06 != null">
        MSG_UID06 = #{msgUid06,jdbcType=CHAR},
      </if>
      <if test="msgUid07 != null">
        MSG_UID07 = #{msgUid07,jdbcType=CHAR},
      </if>
      <if test="msgGrp01 != null">
        MSG_GRP01 = #{msgGrp01,jdbcType=CHAR},
      </if>
      <if test="msgGrp02 != null">
        MSG_GRP02 = #{msgGrp02,jdbcType=CHAR},
      </if>
      <if test="msgGrp03 != null">
        MSG_GRP03 = #{msgGrp03,jdbcType=CHAR},
      </if>
      <if test="msgGrp04 != null">
        MSG_GRP04 = #{msgGrp04,jdbcType=CHAR},
      </if>
      <if test="msgGrp05 != null">
        MSG_GRP05 = #{msgGrp05,jdbcType=CHAR},
      </if>
      <if test="msgGrp06 != null">
        MSG_GRP06 = #{msgGrp06,jdbcType=CHAR},
      </if>
      <if test="msgGrp07 != null">
        MSG_GRP07 = #{msgGrp07,jdbcType=CHAR},
      </if>
      <if test="msgOth01 != null">
        MSG_OTH01 = #{msgOth01,jdbcType=CHAR},
      </if>
      <if test="msgOth02 != null">
        MSG_OTH02 = #{msgOth02,jdbcType=CHAR},
      </if>
      <if test="msgOth03 != null">
        MSG_OTH03 = #{msgOth03,jdbcType=CHAR},
      </if>
      <if test="msgOth04 != null">
        MSG_OTH04 = #{msgOth04,jdbcType=CHAR},
      </if>
      <if test="msgOth05 != null">
        MSG_OTH05 = #{msgOth05,jdbcType=CHAR},
      </if>
      <if test="msgOth06 != null">
        MSG_OTH06 = #{msgOth06,jdbcType=CHAR},
      </if>
      <if test="msgOth07 != null">
        MSG_OTH07 = #{msgOth07,jdbcType=CHAR},
      </if>
      <if test="money != null">
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="viewprice != null">
        VIEWPRICE = #{viewprice,jdbcType=CHAR},
      </if>
      <if test="ini != null">
        INI = #{ini,jdbcType=LONGVARCHAR},
      </if>
      <if test="alert != null">
        ALERT = #{alert,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where UID = #{uid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.model.UserProfileWithBLOBs">
    update userprofile
    set PWD = #{pwd,jdbcType=CHAR},
      GID = #{gid,jdbcType=CHAR},
      NAME = #{name,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      ISEXPIRE = #{isexpire,jdbcType=CHAR},
      DEPCODE = #{depcode,jdbcType=CHAR},
      ISADMIN = #{isadmin,jdbcType=CHAR},
      ISDEPADMIN = #{isdepadmin,jdbcType=CHAR},
      GROUPCODE = #{groupcode,jdbcType=CHAR},
      MSG_UID01 = #{msgUid01,jdbcType=CHAR},
      MSG_UID02 = #{msgUid02,jdbcType=CHAR},
      MSG_UID03 = #{msgUid03,jdbcType=CHAR},
      MSG_UID04 = #{msgUid04,jdbcType=CHAR},
      MSG_UID05 = #{msgUid05,jdbcType=CHAR},
      MSG_UID06 = #{msgUid06,jdbcType=CHAR},
      MSG_UID07 = #{msgUid07,jdbcType=CHAR},
      MSG_GRP01 = #{msgGrp01,jdbcType=CHAR},
      MSG_GRP02 = #{msgGrp02,jdbcType=CHAR},
      MSG_GRP03 = #{msgGrp03,jdbcType=CHAR},
      MSG_GRP04 = #{msgGrp04,jdbcType=CHAR},
      MSG_GRP05 = #{msgGrp05,jdbcType=CHAR},
      MSG_GRP06 = #{msgGrp06,jdbcType=CHAR},
      MSG_GRP07 = #{msgGrp07,jdbcType=CHAR},
      MSG_OTH01 = #{msgOth01,jdbcType=CHAR},
      MSG_OTH02 = #{msgOth02,jdbcType=CHAR},
      MSG_OTH03 = #{msgOth03,jdbcType=CHAR},
      MSG_OTH04 = #{msgOth04,jdbcType=CHAR},
      MSG_OTH05 = #{msgOth05,jdbcType=CHAR},
      MSG_OTH06 = #{msgOth06,jdbcType=CHAR},
      MSG_OTH07 = #{msgOth07,jdbcType=CHAR},
      MONEY = #{money,jdbcType=DECIMAL},
      VIEWPRICE = #{viewprice,jdbcType=CHAR},
      INI = #{ini,jdbcType=LONGVARCHAR},
      ALERT = #{alert,jdbcType=LONGVARCHAR}
    where UID = #{uid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.UserProfile">
    update userprofile
    set PWD = #{pwd,jdbcType=CHAR},
      GID = #{gid,jdbcType=CHAR},
      NAME = #{name,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      ISEXPIRE = #{isexpire,jdbcType=CHAR},
      DEPCODE = #{depcode,jdbcType=CHAR},
      ISADMIN = #{isadmin,jdbcType=CHAR},
      ISDEPADMIN = #{isdepadmin,jdbcType=CHAR},
      GROUPCODE = #{groupcode,jdbcType=CHAR},
      MSG_UID01 = #{msgUid01,jdbcType=CHAR},
      MSG_UID02 = #{msgUid02,jdbcType=CHAR},
      MSG_UID03 = #{msgUid03,jdbcType=CHAR},
      MSG_UID04 = #{msgUid04,jdbcType=CHAR},
      MSG_UID05 = #{msgUid05,jdbcType=CHAR},
      MSG_UID06 = #{msgUid06,jdbcType=CHAR},
      MSG_UID07 = #{msgUid07,jdbcType=CHAR},
      MSG_GRP01 = #{msgGrp01,jdbcType=CHAR},
      MSG_GRP02 = #{msgGrp02,jdbcType=CHAR},
      MSG_GRP03 = #{msgGrp03,jdbcType=CHAR},
      MSG_GRP04 = #{msgGrp04,jdbcType=CHAR},
      MSG_GRP05 = #{msgGrp05,jdbcType=CHAR},
      MSG_GRP06 = #{msgGrp06,jdbcType=CHAR},
      MSG_GRP07 = #{msgGrp07,jdbcType=CHAR},
      MSG_OTH01 = #{msgOth01,jdbcType=CHAR},
      MSG_OTH02 = #{msgOth02,jdbcType=CHAR},
      MSG_OTH03 = #{msgOth03,jdbcType=CHAR},
      MSG_OTH04 = #{msgOth04,jdbcType=CHAR},
      MSG_OTH05 = #{msgOth05,jdbcType=CHAR},
      MSG_OTH06 = #{msgOth06,jdbcType=CHAR},
      MSG_OTH07 = #{msgOth07,jdbcType=CHAR},
      MONEY = #{money,jdbcType=DECIMAL},
      VIEWPRICE = #{viewprice,jdbcType=CHAR}
    where UID = #{uid,jdbcType=CHAR}
  </update>
</mapper>