<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnable" value="true"/>
        <setting name="lazyLoadingEnable" value="false"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
</configuration>